<!-- This omits repeat users from multiple restaurant matches and makes sure they're unique -->
<% mailable_users = [] %>
<% current_user.users.each do |user| %>
  <% if mailable_users.include? user %>
  <% else %>
    <% mailable_users << user %>
  <% end %>
<% end %>


<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <!-- Javascript for this isn't working correctly, it's loading on page reload 2 Year old tutorial Op-->
      <%= f.select(:recipients, mailable_users.collect {|p| [ p.email, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>
