<% fake_receipts = [] %>
<% @receipts.each do |receipt| %>
  <% if fake_receipts.include? receipt.message %>
  <% else %>
    <% fake_receipts << receipt.message %>
  <% end %>
<% end %>
<% fake_receipts.each do |receipt| %>
    <%# message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <a href="#">
          <%= image_tag(User.find_by(id: receipt.sender_id).avatar.url(:thumb)) %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= receipt.sender.email %> <br>
          <small><b>Subject: </b><%= receipt.subject %></small><br>
          <small><b>Date: </b><%=  receipt.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>
        <%= receipt.body %>
      </div>
    </div>
<% end %>



<%= image_tag(current_user.avatar.url(:thumb)) %>
