<nav id="nav-main">
<ul>
<li><%= link_to "Home" %></li>
<li><%= link_to "Messages"%></li>
<li><%= link_to "Search"%></li>
<li><%= link_to "Log Out"%></li>
</ul>
</nav>
<div id="nav-trigger">
<span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
</div>
<%= render 'layouts/nav' %>
