<nav id="nav-main">
<ul>
<li><%= link_to "Home" %></li>
<li><%= link_to "Messages"%></li>
<li><%= link_to "Search"%></li>
<li><%= link_to "Log Out"%></li>
</ul>
</nav>
<div id="nav-trigger">
<span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
</div>
<%= render 'layouts/nav' %>

<div id="fuck-my-life">
  <% var = 0 %>
  <% @response.parsed_response['response']['groups'][0]['items'].each do |hash| %>
  <div id="parsed-text">
    <%= var += 1 %>
    <%= hash['venue']['id'] %>
    <%= ven_name = hash['venue']['name'] %><br>
    <%= hash['venue']['contact']['formattedPhone'] %><br>
    <%= hash['venue']['location']['formattedAddress'].join %><br>
    <% if hash['venue']['photos']['count'] != 0 %>
    <% picture = hash['venue']['photos']['groups'][0]['items'][0]['prefix'] + "original" + hash['venue']['photos']['groups'][0]['items'][0]['suffix'] %>
    <%= image_tag picture, width:"200",height: "auto" %><br>
    <% else %>
    <%= "Custome Query?" %>
    <% end %>
    <%= link_to "#{ven_name}" , hash['venue']['url'] , id: 'ghost-button'%>
    <% if hash['venue']['menu'] != nil %>
    <% if hash['venue']['menu']['mobileUrl'] != nil %>
    <%=  link_to 'Menu' , hash['venue']['menu']['mobileUrl'], id: "ghost-button"%>
    <% else %>
    <%= hash['venue']['menu']['url'] %>
    <% end %>
    <% else %>
    <%= "Check Website" %>
    <% end %>
    <br>

  </div>
  <% end %>
