

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</script>

<div class="inboxnavbar"><ul class="inboxnavbuttonlinks">

<ul class="nav nav-pills nav-stacked">

  <li class="<%= active_page(:inbox) %>">
    <%= link_to mailbox_inbox_path do  %>
       <span>inbox</span>
    <% end %>
  </li>
  <li class="<%= active_page(:sent) %>">
    <%= link_to mailbox_sent_path do %>
        <span>sent</span>
    <% end %>
  </li>

  <li class="<%= active_page(:trash) %>">
    <%= link_to mailbox_trash_path do %>
        <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i>

    <% end %>
  </li>
</ul></div>
