<h1 class="logo">Relicious</h1>
<!-- <%= video_tag "coffee
.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video/mp4" %> -->
<!-- <%= video_tag "coffee.mp4", controls: false, autoplay: true, loop: true, muted: true %> -->
<div class="ParallaxVideo">
<%= video_tag "coffee.mp4", controls: false, autoplay: true, loop: true %>
<h1>where food meets love</h1>
<div class="signupmainbox">
  <%= link_to "Login", new_user_session_path ,id:"linkdecomainpage1",class: "hvr-float" %>
  <%= link_to "Sign up", new_profile_path , id:"linkdecomainpage2", class: "hvr-float" %>
  <!-- <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=629177267279104";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div> -->
  <!-- <div scope= "email" class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
</div>
<p> </p>
  -->
  </div>
</div>
<%= link_to "Signout", destroy_user_session_path, method: :delete %>
