

<!-- NAVBAR  -->
<nav class="fixed-nav-bar">
  <span class="navbarlogo_mainprof">Relicious</span>
  <ul class="mainprof">
  <li><%= link_to "Home" %></li>
  <li><%= link_to "Messages", mailbox_inbox_path%></li>
  <li><%= link_to "Search"%></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
  </ul>
</nav>
<!-- Search bar for restaurants -->
<div class="text-center">
  <h1>Find Your Favorite Restaurants!!</h1>
  <%= form_tag "/restaurants/show" do %>
  <%= search_field_tag :term %>
  <%= submit_tag "Go!" %>
  <% end %>
</div>

<!-- Foursquare-Api-Decontruct-Json -->
        <% var = 0 %>
        <% @response.parsed_response['response']['groups'][0]['items'].each do |hash| %>
            <% if hash['venue']['photos']['count'] != 0 %>
            <% picture = hash['venue']['photos']['groups'][0]['items'][0]['prefix'] + "original" + hash['venue']['photos']['groups'][0]['items'][0]['suffix'] %>

            <div class="wrap">
              <div class="tile">
            <!-- <div class="itemven"> -->
              <%= image_tag picture, width: "300px", height: "auto" %>
              <div class="text">
                <%= var += 1 %>
                <% hash['venue']['id'] %>
    <h1><%= ven_name = hash['venue']['name'] %></h1>
    <h2 class="animate-text"><%= hash['venue']['contact']['formattedPhone'] %></h2>


    <% if hash['venue']['menu'] != nil %>
      <% if hash['venue']['menu']['mobileUrl'] != nil %>
        <p class="animate-text">  <%=  link_to 'Menu' , hash['venue']['menu']['mobileUrl'], id: "ghost-button"%>
      <% else %>
        <%= hash['venue']['menu']['url'] %>
      <% end %>
    <% else %>
      <% "Check Website" %>
    <% end %></p>
      <p class="animate-text"><%= form_for @restaurant do |f| %>
      <%= f.hidden_field :name, value: hash['venue']['name'] %>
      <%= f.hidden_field :location, value: hash['venue']['location']['formattedAddress'].join %>
      <%= f.hidden_field :menu_url, value: (hash['venue']['menu'] ? (hash['venue']['menu']['mobileUrl'] or hash['venue']['menu']['url']) : nil) %>
      <%= f.hidden_field :photo_url, value: picture %>
      <%= f.hidden_field :restaurantId, value: hash['venue']['id'] %>
      <%= f.hidden_field :website, value: hash['venue']['url'] %>
      <%= image_submit_tag 'https://cdn3.iconfinder.com/data/icons/cosmo-color-basic-1/40/favorite-128.png', data: { confirm: 'Added to Favorites' } ,id: 'heart' %>
    <% end %></p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
   </div>

              <%end%>
            </div>
          </div>
            <%end%>
