<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- NAVBAR  -->
<nav class="fixed-nav-bar">
  <span class="navbarlogo_mainprof">Relicious</span>
  <ul class="mainprof">
  <li><%= link_to "Home" %></li>
  <li><%= link_to "Messages", mailbox_inbox_path%></li>
  <li><%= link_to "Search"%></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
  </ul>
</nav>
<!-- Search bar for restaurants -->
<div class="text-center">
  <h1>Find Your Favorite Restaurants!!</h1>
  <%= form_tag "/restaurants/show" do %>
  <%= search_field_tag :term %>
  <%= submit_tag "Go!" %>
  <% end %>
</div>

<!-- Foursquare-Api-Decontruct-Json -->
<!-- Creates Divs with restaurants from Api request -->
<!-- I will refactor later !! -->
<div class="container">
  <!-- <h1>Masonry CSS with Bootstrap</h1> -->
<div class="row">
      <!-- <div class="well"> -->
        <% var = 0 %>

        <% @response.parsed_response['response']['groups'][0]['items'].each do |hash| %>
          <!-- VENUE PICTURE -->
          <div class="item">
            <% if hash['venue']['photos']['count'] != 0 %>
            <% picture = hash['venue']['photos']['groups'][0]['items'][0]['prefix'] + "original" + hash['venue']['photos']['groups'][0]['items'][0]['suffix'] %>
            <!-- RENDERS PIC --><div class="well">
            <%= image_tag picture, width: "300", height: "auto" %></div>
              <% else %>
              <%= "Custom Query?" %>
              <% hash['venue']['id'] %>
              <!-- VENUE INFO/NAME/ADDRESS -->
                    <%= var += 1 %>
                <%= ven_name = hash['venue']['name'] %><br>
                <%= hash['venue']['contact']['formattedPhone'] %><br>
                <%= hash['venue']['location']['formattedAddress'].join %>
                <%= link_to "#{ven_name}" , hash['venue']['url'] , id: 'ghost-button'%>
                <% if hash['venue']['menu'] != nil %>
                  <% if hash['venue']['menu']['mobileUrl'] != nil %>
                    <%=  link_to 'Menu' , hash['venue']['menu']['mobileUrl'], id: "ghost-button"%>
                  <% else %>
                    <%= hash['venue']['menu']['url'] %>
                  <% end %>
                <% else %>
                  <%= "Check Website" %>
                <% end %>
                <%= form_for @restaurant do |f| %>
                  <%= f.hidden_field :name, value: hash['venue']['name'] %>
                  <%= f.hidden_field :location, value: hash['venue']['location']['formattedAddress'].join %>
                  <%= f.hidden_field :menu_url, value: (hash['venue']['menu'] ? (hash['venue']['menu']['mobileUrl'] or hash['venue']['menu']['url']) : nil) %>
                  <%= f.hidden_field :photo_url, value: picture %>
                  <%= f.hidden_field :restaurantId, value: hash['venue']['id'] %>
                  <%= f.hidden_field :website, value: hash['venue']['url'] %>
                  <%= f.submit "Like", data: { confirm: 'Your confirm message' } ,id: 'ghost-button' %>
                <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
<% end %>
