<!DOCTYPE html>
<html>
<head>
  <title>Relicious</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>



  <% flash.each do |key, value| %>
  <div class="text-center <%= flash_class(key) %>">
    <%= value %>
  </div>
  <% end %>


<%= yield %>

</body>
</html>
